/node_modules
/public/hot
/public/storage
public/media/images/profile/**
public/media/images/gym/**
public/media/images/workout-item/**
/public/app-assets/Profile_picture
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.git
.idea
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
development
